version: '2'
services:

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    volumes:
      - ./config/jellyfin:/config
      - ./media:/media
    ports:
      - "8096:8096"
    environment:
      - TZ=Asia/Muscat

  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    restart: unless-stopped
    volumes:
      - ./config/radarr:/config
      - ./media:/media
      - ./downloads:/downloads
    ports:
      - "7878:7878"
    environment:
      - TZ=Asia/Muscat

  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    restart: unless-stopped
    volumes:
      - ./config/sonarr:/config
      - ./media:/media
      - ./downloads:/downloads
    ports:
      - "8989:8989"
    environment:
      - TZ=Asia/Muscat

  jackett:
    image: ghcr.io/linuxserver/jackett
    container_name: jackett
    restart: unless-stopped
    volumes:
      - ./config/jackett:/config
    ports:
      - "9117:9117"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Muscat

  qbittorrent:
    image: ghcr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    volumes:
      - ./config/qbittorrent:/config
      - ./downloads:/downloads
    ports:
      - "6881:6881"
      - "6881:6881/udp"
      - "8080:8080"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Muscat

